<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login and registration page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheet/style.css')}}" />
</head>
<body>
<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <div class="social-icons">
            <img src="../static/images/fbicon.png">
            <img src="../static/images/instaicon.png">
        </div>
        <form action="http://127.0.0.1:5000/result" id="login" class="input-group" method="post">
            <input type="text" name="user" class="input-field" placeholder="User Id" required>
            <input type="text" name="pass" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <form action="http://127.0.0.1:5000/result" id="register" class="input-group" method="post">
            <input type="text" name="firstname" class="input-field" placeholder="First Name" required>
            <input type="text" name="lastname" class="input-field" placeholder="Last Name" required>
            <input type="text" name="email" class="input-field" placeholder="Email" required>
            <input type="text" name="password" class="input-field" placeholder="Enter Password" required>
            <input type="text" name="confirmpassword" class="input-field" placeholder="Confirm Password" required>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>

<script>
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");

    function register() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
    }

    function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
    }

</script>

</body>
</html>